{% extends "search/base.html" %}

{% block main %}
<div class="search-form">

<form method="get" action="/">
    <input type="text" name="q" id="q" autofocus>
    <button type="submit">Search</button><br>
    <div style="margin-top: 1em;">
    <strong>sort by:</strong>
    <input type="radio" name="s" value="a"{% if s != 'h' %} checked{% endif %}> <label for="s">authority</label> |
    <input type="radio" name="s" value="h"{% if s == 'h' %}checked{% endif %}> <label for="s">hubbiness</label>
    </div>
</form>

</div>
{% endblock %}